@model List<ProductoVM>

<div class="row justify-content-between mt-4">
    <div class="col-4">
        <h4>Productos</h4>
    </div>
    <div class="col-4 text-end">
        <a href="/Producto/AgregarEditar" class="btn btn-success">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th style="width:120px">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.NombreImagen))
                    {
                        <img src="~/imagenes/@item.NombreImagen" width="60" />
                    }
                </td>
                <td>@item.Categoria?.Nombre</td>
                <td>@item.Nombre</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td style="width:120px">
                    <a href="/Producto/AgregarEditar/@item.ProductoId" class="btn btn-sm btn-primary">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <button class="btn btn-sm btn-danger" onclick="eliminarItem(@item.ProductoId)">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function eliminarItem(id) {
            Swal.fire({
                title: "¿Desea continuar?",
                text: "No vas a poder revertir esta acción",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Eliminar", "Producto")/' + id;
                }
            });
        }
    </script>
}